# Configuration file

clientsettings {
    I:AlchemyHUDxOffset=50
    I:AlchemyHUDyOffset=2
    I:LPHUDxOffset=12
    I:LPHUDyOffset=75
}


"demon configs" {
    I:"Building Grid Delay"=25
    D:"Demon Hoard Chance"=0.800000011920929
    I:"Demon Hoard Delay"=40
    D:"Demon House Chance"=0.6000000238418579
    D:"Demon Portal Chance"=0.5
    D:"Demon Road Chance"=0.30000001192092896
    B:IsDemonRitualCreativeOnly=false
    D:"Portal Tick Rate"=0.10000000149011612
    I:"Road Grid Delay"=10
    B:canRoadGoDown=true
    B:createBridgeInAirIfObstructed=false
    I:demonGridSpaceLimit=100
    I:demonHoardLimit=100
    B:tunnelIfObstructed=false
}


"dungeon loot chances" {
    I:averageLengtheningCatalyst=10
    I:averagePowerCatalyst=10
    I:greaterLengtheningCatalyst=5
    I:greaterPowerCatalyst=5
    I:mundaneLengtheningCatalyst=20
    I:mundanePowerCatalyst=20
    I:standardBindingAgent=30
}


meteor {
    S:diamondMeteor <
        oreDiamond
        100
        oreEmerald
        75
        oreCinnabar
        200
        oreAmber
        200
     >
    I:diamondMeteorRadius=5
    B:doMeteorsDestroyBlocks=true
    S:ironBlockMeteor <
        oreIron
        400
        oreGold
        30
        oreCopper
        200
        oreTin
        140
        oreSilver
        70
        oreLead
        80
        oreLapis
        60
        oreRedstone
        100
     >
    I:ironBlockMeteorRadius=7
    I:maxChance=1000
    S:netherStarMeteor <
        oreDiamond
        150
        oreEmerald
        100
        oreQuartz
        250
        oreSunstone
        5
        oreMoonstone
        50
        oreIridium
        5
     >
    I:netherStarMeteorRadius=3
    S:stoneBlockMeteor <
        oreCoal
        150
        oreApatite
        50
        oreIron
        50
     >
    I:stoneMeteorRadius=16
}


orecrushing {
    S:allowedOres <
        iron
        gold
        copper
        tin
        lead
        silver
        osmium
     >
}


"potion id" {
    I:Amphibian=115
    I:Boost=101
    I:Deaf=113
    I:DemonCloak=114
    I:Drowning=100
    I:FeatherFall=114
    I:FireFuse=109
    I:FlameCloak=106
    I:Flight=104
    I:HeavyHeart=108
    I:IceCloak=107
    I:Inhibit=103
    I:PlanarBinding=110
    I:ProjProt=102
    I:Reciprocation=105
    I:SoulFray=111
    I:SoulHarden=112
}


"ritual blacklist" {
    B:"Aura of Expulsion"=false
    B:"Ballad of Alchemy"=false
    B:"Call of the Zephyr"=false
    B:"Cry of the Eternal Soul"=false
    B:"Dome of Supression"=false
    B:"Focus of the Ellipsoid"=false
    B:"Interdiction Ritual"=false
    B:"Mark of the Falling Tower"=false
    B:"Reap of the Harvest Moon"=false
    B:"Requiem of the Satiated Stomach"=false
    B:"Reverence of the Condor"=false
    B:"Ritual of Binding"=false
    B:"Ritual of Containment"=false
    B:"Ritual of Gaia's Transformation"=false
    B:"Ritual of Magnetism"=false
    B:"Ritual of Regeneration"=false
    B:"Ritual of Speed"=false
    B:"Ritual of Unbinding"=false
    B:"Ritual of the Crusher"=false
    B:"Ritual of the Feathered Earth"=false
    B:"Ritual of the Feathered Knife"=false
    B:"Ritual of the Full Spring"=false
    B:"Ritual of the Green Grove"=false
    B:"Ritual of the High Jump"=false
    B:"Ritual of the Shepherd"=false
    B:"Serenade of the Nether"=false
    B:"Song of Evaporation"=false
    B:"Veil of Evil"=false
    B:"Ward of Sacrosanctity"=false
    B:"Well of Suffering"=false
}


"teleposer blacklist" {
    # Stops specified blocks from being teleposed. Put entries on new lines. Valid syntax is: 
    # modid:blockname:meta
    S:Blacklist <
     >
}


"temp demon configs" {
    I:"Building Grid Delay"=25
    D:"Demon Hoard Chance"=1.0
    I:"Demon Hoard Delay"=40
    D:"Demon House Chance"=0.6000000238418579
    D:"Demon Portal Chance"=0.5
    D:"Demon Road Chance"=0.6000000238418579
    D:"Portal Tick Rate"=0.10000000149011612
    I:"Road Grid Delay"=10
    B:canRoadGoDown=true
    B:createBridgeInAirIfObstructed=false
    B:tunnelIfObstructed=false
}


wellofsufferingblacklist {
    B:AWWayofTime.AirElemental=false
    B:AWWayofTime.BileDemon=false
    B:AWWayofTime.BoulderFist=false
    B:AWWayofTime.EarthElemental=false
    B:AWWayofTime.FallenAngel=false
    B:AWWayofTime.FireElemental=false
    B:AWWayofTime.HolyElemental=false
    B:AWWayofTime.IceDemon=false
    B:AWWayofTime.LowerGuardian=false
    B:AWWayofTime.MinorDemonGrunt=false
    B:AWWayofTime.MinorDemonGruntEarth=false
    B:AWWayofTime.MinorDemonGruntFire=false
    B:AWWayofTime.MinorDemonGruntGuardian=false
    B:AWWayofTime.MinorDemonGruntGuardianEarth=false
    B:AWWayofTime.MinorDemonGruntGuardianFire=false
    B:AWWayofTime.MinorDemonGruntGuardianIce=false
    B:AWWayofTime.MinorDemonGruntGuardianWind=false
    B:AWWayofTime.MinorDemonGruntIce=false
    B:AWWayofTime.MinorDemonGruntWind=false
    B:AWWayofTime.Shade=false
    B:AWWayofTime.ShadeElemental=false
    B:AWWayofTime.SmallEarthGolem=false
    B:AWWayofTime.WaterElemental=false
    B:AWWayofTime.WingedFireDemon=false
    B:Bat=false
    B:Blaze=false
    B:"Botania.botania:doppleganger"=false
    B:"Botania.botania:pixie"=false
    B:"BuildCraft|Core.bcRobot"=false
    B:CaveSpider=false
    B:Chicken=false
    B:Cow=false
    B:Creeper=false
    B:EnderDragon=false
    B:Enderman=false
    B:EntityHorse=false
    B:ExtrabiomesXL.scarecrow=false
    B:Forestry.butterflyGE=false
    B:GSSkeletonCat=false
    B:GSSkeletonDog=false
    B:GSSkullCrawler=false
    B:GSWitherSkullCrawler=false
    B:GSZombieCat=false
    B:GSZombieDog=false
    B:GSZombieSkullCrawler=false
    B:Ghast=false
    B:Giant=false
    B:LavaSlime=false
    B:Mekanism.Robit=false
    B:MushroomCow=false
    B:NetherOres.netherOresHellfish=false
    B:Ozelot=false
    B:Pig=false
    B:PigZombie=false
    B:Sheep=false
    B:Silverfish=false
    B:Skeleton=false
    B:Slime=false
    B:SnowMan=false
    B:Spider=false
    B:Squid=false
    B:TConstruct.Crystal=false
    B:TConstruct.EdibleSlime=false
    B:TConstruct.KingSlime=false
    B:Thaumcraft.BrainyZombie=false
    B:Thaumcraft.CultistCleric=false
    B:Thaumcraft.CultistKnight=false
    B:Thaumcraft.CultistLeader=false
    B:Thaumcraft.CultistPortal=false
    B:Thaumcraft.EldritchCrab=false
    B:Thaumcraft.EldritchGolem=false
    B:Thaumcraft.EldritchGuardian=false
    B:Thaumcraft.EldritchWarden=false
    B:Thaumcraft.Firebat=false
    B:Thaumcraft.GiantBrainyZombie=false
    B:Thaumcraft.Golem=false
    B:Thaumcraft.InhabitedZombie=false
    B:Thaumcraft.MindSpider=false
    B:Thaumcraft.Pech=false
    B:Thaumcraft.TaintSpider=false
    B:Thaumcraft.TaintSpore=false
    B:Thaumcraft.TaintSwarm=false
    B:Thaumcraft.TaintSwarmer=false
    B:Thaumcraft.Taintacle=false
    B:Thaumcraft.TaintacleGiant=false
    B:Thaumcraft.TaintacleTiny=false
    B:Thaumcraft.TaintedChicken=false
    B:Thaumcraft.TaintedCow=false
    B:Thaumcraft.TaintedCreeper=false
    B:Thaumcraft.TaintedPig=false
    B:Thaumcraft.TaintedSheep=false
    B:Thaumcraft.TaintedVillager=false
    B:Thaumcraft.ThaumSlime=false
    B:Thaumcraft.TravelingTrunk=false
    B:Thaumcraft.Wisp=false
    B:ThaumicExploration.TaintacleMinion=false
    B:Villager=false
    B:VillagerGolem=false
    B:Witch=false
    B:WitherBoss=false
    B:Wolf=false
    B:Zombie=false
    B:betterstorage.Cluckington=false
    B:betterstorage.Frienderman=false
    B:enderzoo.ConcussionCreeper=false
    B:enderzoo.DireWolf=false
    B:enderzoo.Enderminy=false
    B:enderzoo.FallenKnight=false
    B:enderzoo.FallenMount=false
    B:enderzoo.WitherCat=false
    B:enderzoo.WitherWitch=false
    B:witchery.attackbat=false
    B:witchery.babayaga=false
    B:witchery.banshee=false
    B:witchery.cat=false
    B:witchery.corpse=false
    B:witchery.covenwitch=false
    B:witchery.darkmark=false
    B:witchery.death=false
    B:witchery.deathhorse=false
    B:witchery.demon=false
    B:witchery.ent=false
    B:witchery.eye=false
    B:witchery.familiar=false
    B:witchery.follower=false
    B:witchery.goblin=false
    B:witchery.goblingulg=false
    B:witchery.goblinmog=false
    B:witchery.hellhound=false
    B:witchery.hornedHuntsman=false
    B:witchery.illusionCreeper=false
    B:witchery.illusionSpider=false
    B:witchery.illusionZombie=false
    B:witchery.imp=false
    B:witchery.leonard=false
    B:witchery.lilith=false
    B:witchery.lordoftorment=false
    B:witchery.lostsoul=false
    B:witchery.louse=false
    B:witchery.mandrake=false
    B:witchery.mindrake=false
    B:witchery.nightmare=false
    B:witchery.owl=false
    B:witchery.poltergeist=false
    B:witchery.spectre=false
    B:witchery.spirit=false
    B:witchery.toad=false
    B:witchery.treefyd=false
    B:witchery.vampire=false
    B:witchery.villageguard=false
    B:witchery.werevillager=false
    B:witchery.wingedmonkey=false
    B:witchery.witchhunter=false
    B:witchery.wolfman=false
}


wimpysettings {
    B:IDontLikeFun=false
    B:RespawnWithDebuff=true
    B:UseFancyBoundArmour=true
    B:causeHungerWithRegen=true
}


