# Configuration file

"custom text" {
    # Insert the text you want here.(Supports multiple lines) [default: [§4B§6E§eT§2T§3E§1R §5T§4I§6T§eL§2E §3S§1C§5R§4E§6E§eN]]
    S:Text <
        §2Regrowth Mod Pack
		 §3Version 0.3.1 for MC 1.7.10
     >
}


general {
    # Show which version of Forge Mod Loader (FML) the client is running. [default: false]
    B:"Show FML version"=false

    # Show which version of Minecraft Forge the client is running. [default: false]
    B:"Show Forge version"=false

    # Show which version of Minecraft the client is currently running. [default: true]
    B:"Show MC version"=false

    # Show which version of Minecraft Coder Pack (MCP) the client is running. [default: false]
    B:"Show MCP version"=false

    # Show how many mods is loaded. [default: true]
    B:"Show mods loaded"=true
}


