# Configuration file

##########################################################################################################
# settings
#--------------------------------------------------------------------------------------------------------#
# These settings are only valid if the Fishery Module is enabled.
##########################################################################################################

settings {
    B:"Use Vanilla stats for fish"=false
    B:"Use Vanilla textures for Fish"=false
    B:"Vanilla rods are not as good without bait"=true
    B:"Vanilla rods catch vanilla loot"=true
    B:"Vanilla rods need bait to work"=false
}


