# Configuration file

agricraft {
    # set to true to clear the list of items dropping from tall grass (Will run before adding seeds defined in the grass drops config). [default: false]
    B:"Clear tall grass drops"=false

    # The maximum attainable value of the stats on a crop [range: 1 ~ 10, default: 10]
    I:"Crop stat cap"=10

    # The number of crops you get per crafting operation [range: 1 ~ 4, default: 1]
    I:"Crops per craft"=4

    # set to true if you wish to create your own crops [default: false]
    B:"Custom crops"=true

    # set to true to regenerate a default mutations file (will turn back to false afterwards)
    B:GenerateDefaults=false

    # set to false to not render the journal on the analyzer [default: true]
    B:"Render journal in analyzer"=true

    # set to true if you wish to enable resource crops [default: true]
    B:"Resource Crops"=false
}


compatibility {
    # set to false to disable compatibility for AWWayofTime [default: true]
    B:AWWayofTime=true

    # set to false to disable compatibility for Botania [default: true]
    B:Botania=true

    # set to false to disable compatibility for ExtrabiomesXL [default: true]
    B:ExtrabiomesXL=true

    # set to false to disable compatibility for Forestry [default: true]
    B:Forestry=true

    # set to false to disable compatibility for MineTweaker3 [default: true]
    B:MineTweaker3=true

    # set to false to disable compatibility for Natura [default: true]
    B:Natura=true

    # set to false to disable compatibility for NotEnoughItems [default: true]
    B:NotEnoughItems=true

    # set to false to disable compatibility for TConstruct [default: true]
    B:TConstruct=true

    # set to false to disable compatibility for Thaumcraft [default: true]
    B:Thaumcraft=true

    # set to false to disable compatibility for Waila [default: true]
    B:Waila=true

    # set to false to disable compatibility for magicalcrops [default: true]
    B:magicalcrops=true

    # set to false to disable compatibility for witchery [default: true]
    B:witchery=true
}


debug {
    # Set to true if you wish to enable debug mode [default: false]
    B:debug=true
}


farming {
    # set to false if you wish to disable using bonemeal on a cross crop to force a mutation [default: false]
    B:"Bonemeal Mutations"=false

    # On a mutation the stats on the crop will be divided by this number [range: 1 ~ 3, default: 2]
    I:"Crop stat divisor"=2

    # set to true to disable vanilla farming, meaning you can only grow plants on crops [default: false]
    B:"Disable Vanilla Farming"=true

    # When enabled, weeds can only be removed by using this Hand Rake tool [default: true]
    B:"Enable Hand Rake"=false

    # set to false if you wish to disable weeds [default: true]
    B:"Enable weeds"=false

    # Farming difficulty: 1 = Crops can inherit stats from any crop. 2 = Crops only inherit stats from parent and identical crops. 3 = Same as 2, but any other nearby crop will affect stats negatively. [range: 1 ~ 3, default: 3]
    I:"Farming difficulty"=2

    # This is a global growth rate multiplier [range: 0.0 ~ 2.0, default: 1.0]
    S:"Growth rate multiplier"=1.0

    # Define mutation chance (0.0 means no mutations, only spreading and 1.0 means only mutations no spreading [range: 0.0 ~ 1.0, default: 0.2]
    S:"Mutation Chance"=0.4

    # set this to true to make only mature crops drop seeds (to encourage trowel usage) [default: false]
    B:"Only mature crops drop seeds"=false

    # Set to true to allow crops that spread from one single crop to increase stats [default: false]
    B:"Single spread stat increase"=true

    # set to false if you don't want weeds to be able to overgrow other plants [default: true]
    B:"Weeds can overtake plants"=false

    # set this to true to have weeds destroy the crop sticks when they are broken with weeds (to encourage rake usage) [default: false]
    B:"Weeds destroy crop sticks"=false
}


irrigation {
    # set to true if you want to disable irrigation systems [default: false]
    B:"Disable Irrigation"=false

    # set to true to let tanks fill up when water flows above them [default: false]
    B:"Fill tank from flowing water"=false

    # set to false to disable placing a source block when breaking non-empty tanks [default: true]
    B:"Spawn water after breaking tank"=false

    # Every x seconds each plant in sprinkler range has this chance to growth tick [range: 0 ~ 100, default: 20]
    I:"Sprinkler growth chance"=20

    # Every x seconds each plant in sprinkler range has y chance to growth tick [range: 1 ~ 300, default: 5]
    I:"Sprinkler growth interval"=5

    # Water usage of the sprinkler in mB per second [range: 0 ~ 10000, default: 10]
    I:"Sprinkler water usage"=10
}


storage {
    # set to true to disable the seed storage systems [default: false]
    B:"Disable seed storage system"=true

    # set to true to disable the seed storage warehouse blocks [default: false]
    B:"Disable seed storage warehouses"=false
}


"world gen" {
    # set to true to disable world gen, no greenhouses will spawn in villages [default: false]
    B:"Disable World Gen"=false

    # Set to false if you wish to disable villagers spawning in the ArgiCraft houses [default: true]
    B:"Enable villagers"=true

    # The maximum number of greenhouses per village [range: 0 ~ 2, default: 1]
    I:"Greenhouse limit"=1

    # The weight for a greenhouse to be generated in a village [range: 0 ~ 100, default: 10]
    I:"Greenhouse weight"=10

    # The maximum number of irrigated greenhouses per village [range: 0 ~ 2, default: 1]
    I:"Irrigated greenhouse limit"=1

    # The weight for an irrigated greenhouse to be generated in a village [range: 0 ~ 100, default: 2]
    I:"Irrigated greenhouse weight"=2
}


