# Configuration file

##########################################################################################################
# HarvestLevelNames
#--------------------------------------------------------------------------------------------------------#
# Use materialnames to set the name of a harvest level. Check the MaterialDefaults file for the material names.
# For Example: 'Level0=wood' would change the first harvest level to wood from stone.
##########################################################################################################

HarvestLevelNames {
	Level0=Flint
	Level1=Copper
	Level2=Iron
	Level3=Bronze
    Level4=Alumite
    Level5=Thaumium
    Level6=Steel
	Level7=Cobalt
	Level8=Manyullyn
    Level9=Osmium
}


