# Configuration file

##########################################################################################################
#  info
#--------------------------------------------------------------------------------------------------------#
# Copy the desired tools you want to change from the defaults file into this file and adapt the stats.
# 
# Mining Levels:
# 	0 - §7Stone
# 	1 - §6Copper
# 	2 - §8Iron
# 	3 - §fTin
# 	4 - §cRedstone
# 	5 - §dObsidian
# 	6 - §4Ardite
# 	7 - §3Cobalt
# 	8 - §5Manyullyn
# 	9 - §5Manyullyn§d+
# 
##########################################################################################################

" info" {
    # Fills this file with the default values, not altering changed values.
    B:fillWithDefault=false

    # Removes all entries that correspond to the default values.
    B:removeDefaultValues=false
}


awwayoftime {

    boundaxe {
        I:axe=9
    }

    boundshovel {
        I:shovel=9
    }

    boundpickaxe {
        I:pickaxe=9
    }

}


botania {

    manasteelaxe {
        I:axe=3
    }

    terrapick {
        I:pickaxe=6
    }

    manasteelpick {
        I:pickaxe=3
    }

    elementiumpick {
        I:pickaxe=4
    }

    elementiumaxe {
        I:axe=4
    }

    manasteelshovel {
        I:shovel=3
    }

    elementiumshovel {
        I:shovel=4
    }

}


forbiddenmagic {

    taintpickaxe {
        I:pickaxe=9
    }

    taintshovel {
        I:shovel=9
    }

    morphpickaxe {
        I:pickaxe=9
    }

    morphaxe {
        I:axe=9
    }

    morphshovel {
        I:shovel=9
    }

}


mariculture {
}


thaumcraft {

    itemshovelthaumium {
        I:shovel=5
    }

    itempickthaumium {
        I:pickaxe=5
    }

    itemshovelelemental {
        I:shovel=6
    }

    itempickvoid {
        I:pickaxe=8
    }

    itemaxevoid {
        I:axe=8
    }

    itemshovelvoid {
        I:shovel=8
    }

    itemaxethaumium {
        I:axe=5
    }

    itempickaxeelemental {
        I:pickaxe=6
    }

    itemaxeelemental {
        I:axe=6
    }

}


witchery {
}


